.sidenav {
    height: 100%;                                                         /* 100% Full-height */
    width: 0;                                                             /* 0 width - change this with JavaScript */
    position: fixed;                                                      /* Stay in place */
    z-index: 1;                                                           /* Stay on top */
    top: 0;                                                               /* Stay at the top */
    left: 0;
    background-image: linear-gradient(90deg, #546E7A, #78909C);                                          
    overflow-x: hidden;                                                   /* Disable horizontal scroll */
    padding-top: 2rem;                                                   
    transition: 0.5s;                                                     /* 0.5 second transition effect to slide in the sidenav */
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 600;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 1rem;
    font-size: 2rem;
    margin-left: 4rem;
}

.app-list {
    padding-top: 1rem;
}

.app-list li:hover {
    background-color: #37474F;
}

.menu-icon {
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    padding: 1rem 2rem 0 1rem;
}

span:hover {
    color: #C2F8FF;
    cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 1rem;}
    .sidenav a {font-size: 1rem;}
}